body {
  background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
  background-color: #935e9c;
  color: #ffffff;
}


.page-container{
  display: flex;
  justify-content: center;
padding-top: 7em;  // height: 80vh;
}